@font-face {
	font-family:Regular;
	src:url("../fonts/Regular.otf");
}
@font-face {
	font-family:Bold;
	src:url("../fonts/Bold.otf");
}
@font-face {
	font-family:Extrabold;
	src:url("../fonts/ExtraBold.otf");
}
@font-face {
	font-family:GeometriaBold;
	src:url("../fonts/Geometria-Bold.otf");
}

body{
	font-family: "Regular", sans-serif;
	font-size: 16px;
}
.container{
	max-width: 1260px;
	margin: 0 auto;
}
.title{
	font-family: "Bold";
	font-size: 36px;
	color: #002543;
	text-align: center;
}

/* header */
.header-flex{
	padding: 48px 0 43px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__item{
	font-family: "Extrabold";
	font-size: 30px;
	color: #002543;	
}
.menu__href{
	font-family: "Bold";
	font-size: 10px;
	color: #002543;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.menu__item{
	display: inline-block;
	margin-left: 16px;
}
.menu__item:first-child{
	margin-left: 0px;
}

/* Banner */
.banner{
	background: #D8D8D8;
	display: flex;
	height: 500px;
	position: relative;
}
.banner:after {
    content: '';
    position: absolute;
    top: -1px;
    height: 1px;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.banner-img{
	background: url("../img/slide_bg.png");
	width: 42%;
	height: 100%;
	background-repeat: no-repeat;
}
.banner-text{
	padding-top: 148px;
	padding-left: 20px;
}
.banner-text__title{
	font-family: "GeometriaBold";
	font-size: 44px;
	color: #002543;
	line-height: 40px;
	margin-bottom: 25px;
}
.banner-text__desc{
	font-size: 20px;
	line-height: 28px;
	color: #525252;
}

.content-flex{
	display: flex;
	flex-wrap: wrap;
}
.content .title{
	margin-top: 100px;
	margin-bottom: 70px;
}
.item{
	width: 33%;
	margin-bottom: 40px;
}
.item-img, .item-txt{
	display: inline-block;
	vertical-align: top;
}
.item-img{
	width: 80px;
	margin-right:15px;
}
.item-txt{
	font-size: 16px;
	font-family: Regular;
	color: #525252;
	line-height: 23px;
	width: 60%;
}
.item-txt span{
	display: block;
	font-family: GeometriaBold;
	color: #002543;
	margin-bottom: 10px;
}